{% extends "base.html" %}

{% block content %}

<section class="container mx-auto pb-6 pt-4 p-6 mt-4 mb-8 pb-4 bg-white rounded fade-in" style="max-width: 968px;">
    <h1 class="text-xl font-bold mb-2">Acknowledgement</h1>
    <!-- Content Area -->
    <div class="w-full rounded-lg mt-4">
        <section class="container mx-auto flex items-center flex-row justify-center mt-4">
            We would like to thank our Professor Hamarneh, and our TAs, Kumar and Weina, for their invaluable guidance and support throughout the completion of our project. We also extend our gratitude to nnUNet and all the references cited in our report. In addition, GPT-4o was used as an assistant to debug and refine the code, ensuring its functionality and optimization. It also played a key role in generating an illustration of a lung tumor, featured on the homepage. Leveraging GPT-4o enabled us to complete the project efficiently and thoroughly, meeting the demands of a strict timeline.
        </section>
    </div>
</section>

{% endblock %}